*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 18px;
}

html{
    width: 100%;
}

body{
  height: 100%;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
  }

header::after{
  content: "";
  background-image: url('../img/before-bg.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  max-width: 1910px;
  width: 100%;
  height: 11px;
  position: absolute;
  top: 77px;
  left: 10px;
}


.nav li a.hov-work{
    color: #75ddff;
}
.nav-wrapper{
    background-color: #1a2129;
      padding: 5px 50px;
      margin: auto;
      display: flex;
      justify-content: flex-end;
}

.nav{
      display: flex;
      padding: 16px 0px;
      position: relative;
  }
  
  .nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
  }
  
  .nav li {
      list-style: none;
      padding: 0 10px;
      position: relative;
  }
  
  .home img{
    height: 30px;
    width: auto;
  }
  .nav a {
    color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: '', sans-serif;
  }
  
  .home img:hover{
    scale: 1.1;
    transition: 0.5s;
  }
  
  .nav a:hover {
      color: #75ddff;
  }

.wrapper{
    position: relative;
    color: antiquewhite;
}
.main-wrapper{
    position: absolute;
    display: flex;
    right: 0;
    left: 30%;
    margin-top: 150px;
}
.box{
    height: 450px;
    width: 250px;
    padding: 20px;
margin-left: 50px;
text-align: left;
border: #75ddff 5px solid;
border-radius: 10px;
}
.about-box{
    height: 350px;
    width: 300px;
}
.exp-box{
    width: 300px;
    margin-top: 50px;
}
.skill-box{
    margin-top: 100px;
}





  .foot-wrapper{
    position: absolute;
    background-image: url(../img/foot-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    padding-top: 20px;
    width: 100%;
    height: 120px;
  }