*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
    height: 100vh;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
}
 nav{
    background: #1a2129;
    color: #fff;
    display: flex;
    justify-content: space-between;
 }

 nav::after{
    content: "";
    background-image: url('../img/before-bg.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 100vw;
    width: 100%;
    height: 11px;
    position: absolute;
    top: 50px;
    left: 0%;
 }

 nav .mainmenu{
    display: flex;
    list-style: none;
 }

 nav .mainmenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
 }

 nav .mainmenu li a:hover{
    background: aqua;
 }

 nav .openmenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
 }

 nav .openmenu img{
    height: 50px;
    width: auto;
 }

 nav .mainmenu .closemenu , .icon i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
 }

 nav .closemenu img{
    height: 50px;
    width: auto;
 }

 nav .icon img{
    height: 50px;
    width: auto;
 }

 nav .logo{
    margin: 10px 6px 0;
    font-size: 25px;
    cursor: pointer;
 }

 @media(max-width: 800px){
    nav::after{
        top: 86px;
        left: 0%;
     }

    nav .mainmenu{
        height: 75vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1a2129;
        transition: top 1s ease;
        display: none;
     }

     nav .mainmenu .closemenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
     }

     nav .openmenu{
        display: block;
     }

     nav .mainmenu li a:hover{
        background: none;
        color: aqua;
        font-size: 1.6rem;
     }

     .icon i{
        display: inline-block;
        padding: 12px;
     }
 }