@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Nunito+Sans&display=swap');


@media only screen and (min-width: 1024px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100vh;
    scroll-behavior: smooth;
    font-size: 18px;
}

html{
    width: 100vw;
}

body{
  position: relative;
height: 100vh;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Nunito sans';
    color: antiquewhite;
  }

header::after{
  content: "";
  background-image: url('../img/before-bg.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 11px;
  position: absolute;
  top: 80px;
  left: 0%;
  
}


.nav-wrapper{
    background-color: #1a2129;
      padding: 5px 50px;
      margin: auto;
      display: flex;
      justify-content: flex-end;
}

.nav{
      display: flex;
      padding: 16px 0px;
      position: relative;
  }
  
  .nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
  }
  
  .nav li {
      list-style: none;
      padding: 0 10px;
      position: relative;
  }
  
  .home img{
    height: 30px;
    width: auto;
  }
  .nav a {
    color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Mukta', sans-serif;
  }

  .home img:hover{
    scale: 1.1;
    transition: 0.5s;
  }
  
  .nav a:hover {
      color: #75ddff;
  }

  .nav li a.hov-work{
    color: #75ddff;
}

  .mid-wrapper{
    position: relative;
    height: 250px;
  }

  .image-mid img{
    height: 90%;
    position: absolute;
    top: 45%;
    left: 15%;
  }

  .text-wrapper{
    color: white;
    position: absolute;
    max-width: 400px;
    top: 43%;
    right: 0;
    left: 50%;
  }

  .tittle-up h2{
  font-family: 'Mukta';
  }
  .nama{
    color: #bffffe;
    font-size: 38px;
  }
  .dan{
    color: #234764;
    font-size: 25px;
  }

  .text p{
    font-family: 'Nunito sans';
  }


.foot-wrapper{
  position: absolute;
  background-image: url(../img/foot-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 70px;
}

.text-bot{
  color: antiquewhite;
  text-align: center;
  height: 30px;
  width: 200px;
  background-color: #0d1115;
  border-radius: 15px;
}

.text-bot{
position: absolute;
right: 0;
left: 43%;
padding-top: 3px;
font-size: 15px;
font-weight: bold;
}

  .cc{
    position: absolute;
    text-align: center;
    right: 0;
    left: 46.9%;
    bottom: 0;
    margin-bottom: 0px;
  }
  .cc-img img{
    height: 20px;
    width: 20px;
  }

  .cc-img li{
    padding-left: 10px;
    list-style: none;
  }

  .cc-img{
    width: 100%;
    display: flex;
  }
}


@media only screen and (min-width: 1440px) {
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100vh;
    scroll-behavior: smooth;
    font-size: 18px;
}

html{
    width: 100vw;
}

body{
  height: 100vh;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Nunito sans';
    color: antiquewhite;
  }

header::after{
  content: "";
  background-image: url('../img/before-bg.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 11px;
  position: absolute;
  top: 80px;
  left: 0%;
  
}


.nav-wrapper{
    background-color: #1a2129;
      padding: 5px 50px;
      margin: auto;
      display: flex;
      justify-content: flex-end;
}

.nav{
      display: flex;
      padding: 16px 0px;
      position: relative;
  }
  
  .nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
  }
  
  .nav li {
      list-style: none;
      padding: 0 10px;
      position: relative;
  }
  
  .home img{
    height: 30px;
    width: auto;
  }
  .nav a {
    color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Mukta', sans-serif;
  }

  .home img:hover{
    scale: 1.1;
    transition: 0.5s;
  }
  
  .nav a:hover {
      color: #75ddff;
  }

  .nav li a.hov-work{
    color: #75ddff;
}

  .mid-wrapper{
    position: relative;
    height: 500px;
  }

  .image-mid img{
    position: absolute;
    height: 70%;
    top: 25%;
    left: 25%;
  }

  .text-wrapper{
    color: white;
    position: absolute;
    max-width: 500px;
    top: 38%;
    right: 0;
    left: 50%;
  }

  .tittle-up h2{
  font-family: 'Mukta';
  }
  .nama{
    color: #bffffe;
    font-size: 38px;
  }
  .dan{
    color: #234764;
    font-size: 25px;
  }

  .text p{
    font-family: 'Nunito sans';
  }


.foot-wrapper{
  position: absolute;
  background-image: url(../img/foot-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  padding-top: 25px;
  width: 100%;
  height: 100px;
}

.text-bot{
  color: antiquewhite;
  text-align: center;
  height: 30px;
  width: 200px;
  background-color: #0d1115;
  border-radius: 15px;
}

.text-bot{
position: absolute;
right: 0;
left: 44.5%;
padding-top: 3px;
font-size: 15px;
font-weight: bold;
}

  .cc{
    position: absolute;
    text-align: center;
    right: 0;
    left: 46.9%;
    bottom: 0;
    margin-bottom: 10px;
  }
  .cc-img img{
    height: 20px;
    width: 20px;
  }

  .cc-img li{
    padding-left: 10px;
    list-style: none;
  }

  .cc-img{
    width: 100%;
    display: flex;
  }
}

