@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Nunito+Sans&display=swap');

@media only screen and (min-width: 300px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-size: 18px;
}

body{
  position: relative;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Nunito sans';
    color: antiquewhite;
  }

  nav{
    background: #1a2129;
    color: #fff;
    display: flex;
    justify-content: space-between;
 }

 nav::after{
    content: "";
    background-image: url('../img/before-bg.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 100vw;
    width: 100%;
    height: 11px;
    position: absolute;
    top: 95px;
    left: 0%;
 }

 nav .mainmenu{
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/campfirenew.png');
  transition: top 1s ease;
  display: none;
  list-style: none;
 }

 nav .mainmenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Nunito sans';
 }

 nav .mainmenu li a:hover{
    color: rgb(172, 247, 247);
 }

 nav .openmenu{
    font-size: 2rem;
    margin: 20px;
    display: block;
    cursor: pointer;
 }

 nav .openmenu img{
    height: 50px;
    width: auto;
 }

 nav .mainmenu .closemenu{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

 nav .closemenu img{
    height: 65px;
    width: auto;
 }

 nav .icon img{
    height: 50px;
    width: auto;
 }

 nav .logo{
    margin: 20px 20px 10px;
    padding-top: 10px;
    font-family: 'Mukta';
    font-size: 20px;
    cursor: pointer;
 }

 /*nav end*/

  .mid-wrapper{
    position: relative;
    height: 250px;
  }

  .image-mid img{
    height: 100%;
    position: absolute;
    display: none;
    top: 45%;
    left: 15%;
  }

  .text-wrapper{
    color: white;
    position: absolute;
    max-width: 400px;
    margin: 100px 60px 0;
    top: 0;
    right: 0;
    left: 0;
  }

  .tittle-up h2{
  font-family: 'Mukta';
  }
  .nama{
    color: #bffffe;
    font-size: 38px;
  }
  .dan{
    color: #234764;
    font-size: 25px;
  }

  .text p{
    text-align: justify;
    font-family: 'Nunito sans';
  }


.foot-wrapper{
  position: absolute;
  background-image: url(../img/foot-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.text-bot{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 195px;
  margin-top: 5px;
  background-color: #0d1115;
  border-radius: 15px;
}

.text-bot p{
position: relative;
padding-top: 5px;
font-size: 15px;
font-weight: bold;
}

  .cc{
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 0px;
  }
  .cc-img img{
    height: 20px;
    width: 20px;
  }

  .cc-img li{
    padding-left: 10px;
    list-style: none;
  }

  .cc-img{
    width: 100%;
    display: flex;
  }
   
}



@media only screen and (min-width: 1024px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100vh;
    scroll-behavior: smooth;
    font-size: 18px;
}

html{
    width: 100vw;
}

body{
  position: relative;
    background-image: linear-gradient(to bottom, #040a0f, #0d1115);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Nunito sans';
    color: antiquewhite;
  }

  nav{
    background: #1a2129;
    color: #fff;
    display: flex;
    justify-content: space-between;
 }

 nav::after{
    content: "";
    background-image: url('../img/before-bg.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 100vw;
    width: 100%;
    height: 11px;
    position: absolute;
    top: 65px;
    left: 0;
 }

 nav .mainmenu{
  height: 0vh;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  background: none;
  transition: none;
  display: flex;
 }

 nav .mainmenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
 }

 nav .openmenu{
    display: none;
 }

 nav .openmenu img{
    height: 50px;
    width: auto;
    display: none;
 }

 nav .mainmenu .closemenu , .icon i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
 }

 nav .closemenu img{
    height: 50px;
    width: auto;
 }

 nav .icon img{
    height: 50px;
    width: auto;
 }

 nav .logo{
    margin: 10px 20px 10px;
    padding-top: 0px;
    font-family: 'Mukta';
    font-size: 20px;
    cursor: pointer;
 }


 /*nav end*/

  .mid-wrapper{
    position: relative;
    height: 250px;
  }

  .image-mid img{
    height: 300px;
    width: auto;
    position: absolute;
    display: block;
    top: 45%;
    left: 25%;
  }

  .text-wrapper{
    color: white;
    position: absolute;
    max-width: 450px;
    top: 50%;
    right: 0;
    left: 50%;
  }

  .tittle-up h2{
  font-family: 'Mukta';
  }
  .nama{
    color: #bffffe;
    font-size: 38px;
  }
  .dan{
    color: #234764;
    font-size: 25px;
  }

  .text p{
    font-family: 'Nunito sans';
  }

}

